/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* I hate just overwriting bootstrap styles. But for the ease of quick development, it's probably best to just leverage bootstrap rather than starting clean*/
/* Top Navigation */
div.megadesk-navigation a.navbar-brand {
    color: #fff;
}

div.megadesk-navigation a.navbar-brand:hover {
    color: #ccc;
}

/*Changes*/
body {
    background-color: rgb(179, 158, 137, .3);
}

div.hero_image img {
    width: 100%;
}

div.container.body-content div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em 0;
}

div.row div.col-md-3 {
    background-color: #456e8e;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #552809;
    text-align: center;
}

h4 a.link-button {
    color: #ffffff;
}

form input#CustomerName {
    border-radius: 5px;
    height: 34px;
}

form input#filter {
    background-color: #456e8e;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    height: 34px;
    padding: 0 15px;
}

div input.blue-button {
    background-color: #456e8e;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #552809;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    border: none;
    padding: .5em 2em;
}

div input.red-button {
    background-color: #c41a18;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #552809;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    border: none;
    padding: .5em 2em;
}

div input.red-button:hover {
    background-color: #c41a18;
}

tr td a img {
    width: 35px;
    border-radius: 5px;
}

table.table tbody tr.edit td {
    vertical-align: middle;
}

select#Desk_materialType.form-control.valid option[value="Pine"]:hover {
    background-image: url(~/images/pine.jpg);
}


div#home {
    display: grid;
}

div#hero {
    grid-area: 1/1/3/2;
}

div#home_buttons {
    grid-area: 1/1/2/2;
}

div#centerMaterial {
    display: grid;
    justify-content: center;
}