@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="home-title">MegaDesk</h2>

<div id="home">
    <div class="hero_image" id="hero">
        <img src="~/images/office_space_1200.jpg" alt="home office" />
    </div>


    <div class="row" id="home_buttons">
        <div class="col-md-3 button-col">
            <h4><a asp-page="/MyDesk/Create" class="link-button">Add New Quote</a></h4>
        </div>
        <div class="col-md-3 button-col">
            <h4><a asp-page="/Mydesk/Index" class="link-button">View Quotes</a></h4>
        </div>
    </div>
</div>