@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="hero_image">
    <img src="~/images/office_space_1200.jpg" alt="home office" />
</div>


<div class="row">
    <div class="col-md-3">
        <h4><a asp-page="/MyDesk/Create" class="link-button">Add New Quote</a></h4>
    </div>
    <div class="col-md-3">
        <h4><a asp-page="/Mydesk/Index" class="link-button">View Quotes</a></h4>
    </div>
</div>
